@model IEnumerable<WorkShop.Models.Orders>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("新增訂單", "OrderInsert","Order")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequiredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippedDate)
        </th>
        <th></th><th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequiredDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippedDate)
        </td>
        <td>
            @Html.ActionLink("修改", "OrderUpdatePage", new { id=item.OrderID })
        </td>
        <td>
            @Html.ActionLink("刪除", "OrderDelete", new { id = item.OrderID }, new { onclick = "return confirm('您確定要刪除訂單編號：" + item.OrderID + "?');" })
        </td>
    </tr>
}

</table>
